# Ignorar arquivos Roff para estatísticas de linguagem
*.1 linguist-vendored
*.2 linguist-vendored
*.3 linguist-vendored
*.4 linguist-vendored
*.5 linguist-vendored
*.6 linguist-vendored
*.7 linguist-vendored
*.8 linguist-vendored
*.9 linguist-vendored
*.man linguist-vendored
*.mdoc linguist-vendored
